{% extends 'app/layout.html' %}

{% block body %}
<div class="explore_page">
    <div class="explore_search row mb-5">
      <div class="form-group col-md-12">
        <input id="search" type="text" placeholder="What're you searching for?" class="form-control form-control-underlined">
      </div>
      
      <!--<div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
      </div>-->
    </div>


    <div class="explore_filters">
        <!--Sort By Dropdown-->
          <div class="form-group explore_container col-md-2">
            <select class="form-control" id="sortBy">
              <option value="0">Sort By</option>
              <option value="popular">Most Popular</option>
              <option value="recent">Most Recent</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <select class="form-control" id="uniSort">
              <option value="0">Filter By University</option>
              <option value="KFUPM">KFUPM</option>
              <option value="Harvard">Harvard</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <select class="form-control" id="subjectSort">
              <option value="0">Filter By Subject</option>
              <option value="Physics">Physics</option>
              <option value="Chemistry">Chemistry</option>
              <option value="Math">Math</option>
              <option value="Biology">Biology</option>
            </select>
          </div>
        
    </div>
    
    <div class="allposts k">
        <h3 class="explore_header">Use the dropdowns or search bar to find what you want.</h3>
        <img class="vector" src="static/app/search.jpg">
    </div>
    
</div>


  
{% endblock %}